// src/styles/auth/_mixins.scss
@use 'variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin form-input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $text;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 3px rgba($primary, 0.2);
  }

  &--error {
    border-color: $error;
  }
}

@mixin button {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;

  &--primary {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
      background-color: $primary-dark;
      border-color: $primary-dark;
    }
  }

  &--outline {
    color: $primary;
    background-color: transparent;
    border: 1px solid $primary;

    &:hover {
      background-color: rgba($primary, 0.05);
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}